
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Réunis le 30 Juin 2018, à Oklahoma City, OK, Etats Unis ;</p>
        <p>Mus par la volonté de créer une entente durable pour une cohésion et une coordination stable en vue de promouvoir la Communauté des Congolais établis à Oklahoma City Metroplex, Oklahoma ;</p>
        <p>Conscients de la capacité de tous les Congolais et Congolaises à œuvrer ensemble pour leur bien-être, sans discrimination d’âge, de sexe, d’origine ethnique, d’appartenance politique ou de croyance religieuse ;</p>
    <p>Vu la nécessité de nous unir sur base d’appartenance à la nation Congolaise afin de défendre ensemble nos intérêts ; </p>
    <p>Nous, Congolais résidant dans la métropole d’Oklahoma City, avons décidé la création d’un « véhicule » de solidarité, d’entente, de fraternité et de soutien mutuel qui sera régi selon les dispositions des présents Statuts. </p>
      </div>
    </div>
  
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        </div>
      </div>
      <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2 mx-auto"></div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/1.jpg" alt="">
            <h4>Kay Garland</h4>
            <p class="text-muted">1 Président</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/2.jpg" alt="">
            <h4>Larry Parker</h4>
            <p class="text-muted">1 Secrétaire général.</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2 mx-auto"></div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/3.jpg" alt="">
            <h4>Diana Pertersen</h4>
            <p class="text-muted">1 Secrétaire en charge des finances.</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/3.jpg" alt="">
            <h4>Diana Pertersen</h4>
            <p class="text-muted">1 Secrétaire en charge des relations publiques et de la communication.</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-uppercase">Our Objective</h2>
          <p>Rassembler et regrouper en son sein - par voie d’identification et/ou de recensement général et régulièrement périodique - les ressortissants de la RDC résidant à OKC ; </p>
    <p>Représenter les membres de la CCOKC auprès des autorités et institutions officielles américaines ;</p>
    <p>Défendre et préserver les intérêts de ses membres ;</p>
    <p>Promouvoir et encourager la solidarité et l’aide mutuelle entre ses membres résidant à OKC ainsi que les populations vivant au pays ou ailleurs ;</p>
    <p>Faciliter l’entente, la collaboration, la cohésion entre ses membres, par l’organisation et la participation aux activités sociales, culturelles ou scientifiques ;</p>
    <p>Fournir l’assistance et faciliter l’intégration sociale de ses membres ;</p>
    <p>Promouvoir la culture et les valeurs.</p>
        </div>
      </div>

  
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
        </div>
      </div>
    </div>
  </footer>
