
  <app-nav [input]='nav'></app-nav>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">{{preambule}}</div>
    </div>
  
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Comite temporaire</h2>
        </div>
      </div>
      <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2 mx-auto"></div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/1.jpg" alt="">
            <h4>Wato N'sa</h4>
            <p class="text-muted"> Président</p>
            <!--
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          -->
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/2.jpg" alt="">
            <h4>Joel Goutier</h4>
            <p class="text-muted">Secrétaire général.</p>
            <!--
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          -->
        </div>
    </div>
    <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2 mx-auto"></div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/3.jpg" alt="">
            <h4>- Patric Masonga</h4>
            <h4>- Tresor M</h4>
            <p class="text-muted">Secrétaire en charge des finances.</p>
            <!--
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          -->
          </div>
        <div class="col-sm-4 col-lg-4 col-md-4 mx-auto">
            <img class="col-sm-4 col-lg-4 col-md-4 mx-auto rounded-circle" src="img/team/3.jpg" alt="">
            <h4>Wany Kashosi</h4>
            <p class="text-muted">Secrétaire en charge des relations publiques et de la communication.</p>
            <!--
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          -->
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-uppercase">Nos Objectifs</h2>
          <p>Rassembler et regrouper en son sein - par voie d’identification et/ou de recensement général et régulièrement périodique - les ressortissants de la RDC résidant à OKC ; </p>
    <p>Représenter les membres de la CCOKC auprès des autorités et institutions officielles américaines ;</p>
    <p>Défendre et préserver les intérêts de ses membres ;</p>
    <p>Promouvoir et encourager la solidarité et l’aide mutuelle entre ses membres résidant à OKC ainsi que les populations vivant au pays ou ailleurs ;</p>
    <p>Faciliter l’entente, la collaboration, la cohésion entre ses membres, par l’organisation et la participation aux activités sociales, culturelles ou scientifiques ;</p>
    <p>Fournir l’assistance et faciliter l’intégration sociale de ses membres ;</p>
    <p>Promouvoir la culture et les valeurs.</p>
        </div>
      </div>

  
  </div>

  <hr>
<app-footer></app-footer>