<!-- Main Content 
<app-nav [input]="nav"></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngIf="display.length > 0" >
        <div *ngFor="let post of display" class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}} </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">CCOKC</a>
            on {{post.createdDate}}</p>
          <hr>
        </div>
      </div>
        <div *ngIf="display.length < 1"><p>Aucun communique, veuillez revenir ulterieurement</p></div>

        <div class="clearfix">
         <a class="btn btn-primary float-right" (click)="LoadOld()">Older Posts &rarr;</a> 
        </div>
    </div>
  </div>
</div>

  <hr>

  <app-footer></app-footer>
-->

<!-- Main Content -->
<app-nav [input]="nav"></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div >
            <h2 class="post-title">
              Banquet d'independance: Jour J-4.
            </h2>
            <p class="post-subtitle">

                Chers amis,

                Nous sommes au Jour J-4 de notre rencontre de Samedi 29 Juin 2019. Ce sera au South Lake Event Center (South Lake Park) sis 4302 SW 119th Street, OKC, de 19 heures à 23 heures. La salle est située à 500-700 mètres à l’intérieur du parc, du côté Est/gauche après avoir dépassé le toboggan des enfants.
                
                Ordre du Jour : (1) Election du président du comité coordonnateur, (2) Adoption des statuts de l’association, (3) Présentation du web site de l’association, (4) Présentation du compte bancaire de l’association, (5) enfin la célébration de la fête d’indépendance de la RDC.
                
                Toujours pas de candidats au poste de président ! Faut-il penser au plan B ? Proposer 2 ou 3 noms et demander à l’assemblée de choisir une personne ? Nous en débattrons durant la rencontre si aucun candidat ne se présente. L'ancien président n'est pas éligible.
                Les jeunes (Wany et compagnie) s’occuperont de la musique. Envoyez-leur vos chansons préférées !

Quant à la nourriture et à la boisson, nous ferons comme l’année passée. Que chaque famille amène ce qu’elle veut bien offrir à la communauté. De préférence des plats africains ! Nous comptons sur votre générosité. Le comité apportera les assiettes en plastique, couverts, gobelets, glacières, glaçons, etc. 

Nous vous attendons nombreux à la rencontre. D’ores et déjà Bonne Fête d’Indépendance !

 </p>
          <p class="post-meta">Poster par
            <a href="#">CCOKC</a>
            le 25 juin 2019 </p>
          <hr>
        </div>

        <div >
            <h2 class="post-title">
              Banquet d'independance: suite.
            </h2>
            <p class="post-subtitle">

                Chers amis, 

Nous sommes au jour J-12 de notre rencontre du 29 Juin 2019. La rencontre aura lieu dans la sale de fête de South Lakes Park au 4210 SW 119th St, Oklahoma City, OK 73173, de 19heures à 23 heures. La salle est à 500-700 mètres à l’intérieur du parc.

Jusqu’aujourd’hui 16 juin nous n’avons toujours pas reçu de candidats pour la présidence du comité coordonnateur de la communauté. Nous prolongeons la date de dépôt de candidature jusqu’au dimanche 23 juin. Chers amis, prenez courage et introduisez vos candidatures à congoleseok@gmail.com. Le président sortant n’est pas éligible. Il nous faut un remplaçant. Pour ceux qui ne pourront pas assister à l’assemblée générale, ils pourront voter par email à congoleseok@gmail.com.

Nous vous attendons nombreux le 29 juin pour la célébration de l’anniversaire de l’Indépendance du Congo-Zaïre.
            
 </p>
          <p class="post-meta">Poster par
            <a href="#">CCOKC</a>
            le 17 juin 2019 </p>
          <hr>
        </div>

        <div >
            <h2 class="post-title">
              Banquet d'independance.
            </h2>
            <p class="post-subtitle">
                Chers frères et sœurs de la Communauté Congolaise d’Oklahoma City : 

                Le samedi 29 juin 2019 à l’occasion de la fête d’indépendance de la RDC, la communauté congolaise d’Oklahoma City (CCOKC) organise une rencontre afin de célébrer cette date historique du 30 juin 1960
                
                A l’ordre du jour :
                
                1.    Assemblée générale pour l’élection d’un nouveau président de la communauté.
                
                2.    Présentation des statuts de la communauté.
                
                3.    Ouverture du web site de la communauté.
                
                4.    Célébration de la fête d’indépendance de la RDC.
                
                Le comité provisoire de la CCOKC lance un appel à la candidature pour l’élection du nouveau président. L’ancien président n’est pas éligible.
                
                Nous invitons les candidats intéressés au poste de président de la CCOKC de déposer leur candidature avant le 15 juin 2019 auprès de Papa Michel/Comité provisoire en envoyant un email à l’adresse électronique suivant : 
                
                suivant :
                 congoleseok@gmail.com
                
                Le lieu de la rencontre et d’autres détails vous seront communiqués plus tard.
                
                <p class="post-meta">Poster par
            <a href="#">CCOKC</a>
            le 28 Mai 2019</p>
          <hr>
        </div>

        <div class="clearfix">
      <!--    <a class="btn btn-primary float-right" (click)="LoadOld()">Older Posts &rarr;</a> -->
        </div>
    </div>
  </div>
</div>

  <hr>

  <app-footer></app-footer>