<!-- Main Content -->
<app-nav [input]="nav"></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngIf="display.length > 0" >
        <div *ngFor="let post of display" class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}} </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">CCOKC</a>
            on {{post.createdDate}}</p>
          <hr>
        </div>
      </div>
        <div *ngIf="display.length < 1"><p>Aucun communique, veuillez revenir ulterieurement</p></div>

        <div class="clearfix">
      <!--    <a class="btn btn-primary float-right" (click)="LoadOld()">Older Posts &rarr;</a> -->
        </div>
    </div>
  </div>
</div>

  <hr>

  <app-footer></app-footer>